*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vh;
  margin-top:10vh;
}

.App-header {
  background-color: #5e0479;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button{
  background-color: #5e0479;
  color: white;
  margin-top: 20px;
  border-color: gold;
  width:350px;
  padding: 17px;
  border-radius: 22%;
}